<div class="alert error-alert" style="background-color: #5a2b2f; display: none;">
    <!-- <h3>{{ msg }}</h3> -->
    <i class="fa-solid fa-circle-exclamation"></i>
    <div class="content">
        <div class="title">Lỗi</div>
        <p></p>
    </div>
    <a class="fa-solid fa-xmark close-alert"></a>
</div>

<div class="alert success-alert" style="background-color: #a8f0c6; display: none;">
    <!-- <h3>{{ msg }}</h3> -->
    <i class="fa-solid fa-circle-check"></i>
    <div class="content">
        <div class="title">Thành Công</div>
        <p></p>
    </div>
    <a class="fa-solid fa-xmark close-alert"></a>
</div>