<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Products</title>

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- Custom styles for this template -->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="../static/css/alert.css" rel="stylesheet"/>
    <link href="../static/css/products.css" rel="stylesheet"/>

    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div class="alert error-alert" id="error-alert" style="background-color: #5a2b2f; display: none;">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
                <div class="title">Lỗi</div>
                <p class="alert-content"></p>
            </div>
            <a class="fa-solid fa-xmark close-alert"></a>
        </div>

        <div class="alert success-alert" id="success-alert" style="background-color: #a8f0c6; display: none;">
            <i class="fa-solid fa-circle-check"></i>
            <div>
                <div class="title">Thành Công</div>
                <p class="alert-content"></p>
            </div>
            <a class="fa-solid fa-xmark close-alert"></a>
        </div>
        <!-- <div class="add-product-form" id="add-product" style="display: none;">
            <div class="overlay" onclick="closeAddProductForm()"></div>
            <form action="/add-product" method="post" class="form-container">
                <div style="display: flex;">
                    <div style="margin-right: 5%; display: grid;">
                        <label for="product_id"><b>Productname</b></label>
                        <label for="password"><b>Password</b></label>
                        <label for="name"><b>Name</b></label>
                        <label for="product-role"><b>Product Role</b></label>
                        <label for="description"><b>Description</b></label>
                    </div>
                    <div>
                        <input type="text" id="product_id" class="fill-add-product" placeholder="Enter Productname" name="product_id" onfocus=disableTelexVNI(event) required>
                        <div>
                            <input type="password" id="password" class="fill-add-product" placeholder="Enter Password" name="password" required>
                            <button type="button" class="password-toggle-button" onclick="togglePasswordVisibility()"><i class="fa-solid fa-eye"></i></button>
                        </div>
                        <input type="text" class="fill-add-product" placeholder="Enter Name" name="name" required><br>
                        <select id="product-role" class="fill-add-product" name="product-role" required>
                            <option value="3" selected>Guest</option>
                            <option value="2">Member</option>
                            <option value="1">Admin</option>
                            <option value="4">Other</option>
                        </select><br>
                        <input type="text" id="description" class="fill-add-product" placeholder="Enter Description" name="description"></input><br>
                    </div>
                </div>
                
                <button type="submit" class="btn-primary" id="add-product-button">Add</button>
                <button type="button" class="btn-primary cancel" onclick="closeAddProductForm()">Close</button>
            </form>
        </div> -->
        
        <div class="product-ip-form" id="product-ip" style="display: none;">
            <div class="overlay" onclick=openProductIpForm></div>
            <div class="row">
                <div class="col-sm-12 table-container">
                    <table id="product-ip-table" style="scrollbar-width: auto;">
                        <thead>
                            <tr role="row">
                                <th>
                                    <button id="log_product_id">Productname</button>
                                </th>
                                <th>
                                    <button id="log_datetime">Datetime</button>
                                </th>
                                <th>
                                    <button id="log_product_ip">Product IP</button>
                                </th>
                                <th>
                                    <button id="description">Description</button>
                                </th>

                            </tr>
                        </thead>
                        <tbody id="product-ip-table-content">
                        </tbody>
                    </table>
                    
                </div>    
            </div>
            <button type="button" class="btn-primary cancel" onclick=closeProductIpForm>Close</button>
        </div>

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="/login">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - Product Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
                                <i class="fa-solid fa-product"></i>
                            </a>
                            <!-- Dropdown - Product Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="productDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-product fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
            
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Products -->
                    
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="dataTables_length" id="dataTable_length">
                                                        <form action="/products" method="post" id="product-form">
                                                            <label for="option">Show 
                                                                <select id="count_product_option" name="count_product_option" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                                                    <option value="ALL" {% if count_product_option == "ALL" %}selected{% endif %}>ALL</option>
                                                                    <option value="10" {% if count_product_option == "10" %}selected{% endif %}>10</option>
                                                                    <option value="25" {% if count_product_option == "25" %}selected{% endif %}>25</option>
                                                                    <option value="50" {% if count_product_option == "50" %}selected{% endif %}>50</option>
                                                                    <option value="100" {% if count_product_option == "100" %}selected{% endif %}>100</option>
                                                                </select> entries
                                                            </label>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="add-product-button" style="text-align: center;">
                                                        <button id="add-product-form" class="btn btn-primary">Add Product</button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div id="dataTable_filter" class="dataTables_filter">
                                                        <label>Search:
                                                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row" id="product-container">
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                            </li>
                                                            <li class="paginate_button page-item active">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                                            </li>
                                                            <li class="paginate_button page-item next" id="dataTable_next">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/datatables-demo.js"></script>

    <script src="../static/js/products.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="../static/js/alert.js"></script>

    <script>
        // document.getElementById("add-product-form").addEventListener("click", function() {
        //     openAddProductForm()
        // });

        // function openAddProductForm() {
        //     document.getElementById("add-product").style.display = "block";
        // }

        // function closeAddProductForm() {
        //     document.getElementById("add-product").style.display = "none";
        // }

        // document.getElementById("product-ip-form").addEventListener("click", function() {
        //     openProductIpForm()
        // });

        // function openProductIpForm() {
        //     document.getElementById("product-ip").style.display = "block";
        // }

        // function closeProductIpForm() {
        //     document.getElementById("product-ip").style.display = "none";
        // }

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            var toggleButton = document.getElementsByClassName("password-toggle-button");
            // if (passwordInput.type === "password") {
            //     passwordInput.type = "text";
            //     passwordInput.textContent = "Hide"
            // } else {
            //     passwordInput.type = "password";
            //     passwordInput.textContent = "Show"
            // }

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.innerHTML = '<i class="fa-solid fa-eye"></i>';
            } else {
                passwordInput.type = "password";
                toggleButton.innerHTML = '<i class="fa-sharp fa-solid fa-eye-slash"></i>';
            }
        }

        // document.getElementById("add-product-button").addEventListener("click", async () => {
        //     const product_idInput = document.getElementsByName("product_id")[0];
        //     const passwordInput = document.getElementsByName("password")[0];
        //     const nameInput = document.getElementsByName("name")[0];
        //     const productRoleInput = document.getElementsByName("product-role")[0];
        //     const descriptionInput = document.getElementsByName("description")[0];

        //     const product_id = product_idInput.value;
        //     const password = passwordInput.value;
        //     const name = nameInput.value;
        //     const product_role_id = productRoleInput.value;
        //     const product_status_id = 1;
        //     const description = descriptionInput.value;

        //     if (product_id && password && name && product_role_id && product_status_id) {
        //         const response = await fetch(`/add-product/${product_id}/${password}/${name}/${product_role_id}/${product_status_id}/${description}`, {
        //             method: "POST"
        //         });
        //         // const response = await fetch("/add-product", {
        //         //     method: "POST",
        //         //     headers: {
        //         //         "Content-Type": "application/json",
        //         //     },
        //         //     body: JSON.stringify({
        //         //         product_id: product_id,
        //         //         password: password,
        //         //         name: name,
        //         //         product_role_id: product_role_id,
        //         //         product_status_id: 1,
        //         //         description: description,
        //         //     }),
        //         // });

        //         if (!response.ok) {
        //             throw new Error("Failed to fetch product");
        //         }

        //         const responseText = await response.text();

        //         if (response.ok) {
        //             console.log("Product added:", responseText);
        //             showAlert("Đã thêm product: " + responseText, false);
        //             // Assuming you want to redirect to /products on success
        //             // window.location.href = "/products";
        //         } else {
        //             console.error("No response received");
        //             showAlert("Không thêm được product", true);
        //         }
        //     } else {
        //         console.error("Fill full to add!!!");
        //         showAlert("Điền đầy đủ thông tin trước khi thêm", true);
        //     }
        // });

        function formatDate(dateTimeString) {
            const date = new Date(dateTimeString);
            const adjustedDate = new Date(date.getTime() - (7 * 60 * 60 * 1000));
            
            const day = adjustedDate.getDate().toString().padStart(2, '0');
            const month = (adjustedDate.getMonth() + 1).toString().padStart(2, '0');
            const year = adjustedDate.getFullYear();
            const hours = adjustedDate.getHours().toString().padStart(2, '0');
            const minutes = adjustedDate.getMinutes().toString().padStart(2, '0');
            const seconds = adjustedDate.getSeconds().toString().padStart(2, '0');

            return `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;
        }

         // Hàm để tắt TELEX và VNI
         function disableTelexVNI(event) {
            var input = event.target;
            input.setAttribute("inputmode", "latin");
            input.setAttribute("autocorrect", "off");
            input.setAttribute("autocomplete", "off");
            input.setAttribute("spellcheck", "false");
        }

        var alert_content = document.getElementsByClassName("alert-content");
        var error_alert = document.getElementById("error-alert");
        var success_alert = document.getElementById("success-alert");

        var currentTimeout;

        function showAlert(msg = "", warning = true) {
            clearTimeout(currentTimeout);

            if (msg) {
                for (var i = 0; i < alert_content.length; i++) {
                    alert_content[i].textContent = msg;
                }
                error_alert.style.display = "none";
                success_alert.style.display = "none";

                if (warning) {
                    error_alert.style.display = "grid";
                    currentTimeout = setTimeout(function () {
                        error_alert.style.display = "none";
                    }, 5000);
                } else {
                    success_alert.style.display = "grid";
                    currentTimeout = setTimeout(function () {
                        success_alert.style.display = "none";
                    }, 5000);
                }
            }
        }

        // $(".close-alert").click(function() {
        //     $(this)
        //         .parent(".alert")
        //         .fadeOut();
        // });

        var closeButtons = document.getElementsByClassName("close-alert");

        if (closeButtons.length > 0) {
            for (var i = 0; i < closeButtons.length; i++) {
                (function(index) {
                    closeButtons[index].addEventListener("click", function() {
                        console.log("Closed alert");
                    });

                    setTimeout(function() {
                        var alertToClose = closeButtons[index].closest(".alert");
                        // var alertToClose = closeButtons[index].parentNode.querySelector(".alert");
                        alertToClose.style.display = "none";
                        console.log("Closed alert");
                    }, 5000);

                    // var timeout = setTimeout(function() {
                    //     var alertToClose = closeButtons[index].parentNode.querySelector(".alert");
                    //     alertToClose.style.display = "none";
                    //     console.log("Closed alert");
                    // }, 5000);

                    // closeButtons[index].addEventListener("click", function() {
                    //     clearTimeout(timeout);
                    //     console.log("Closed alert");
                    // });
                })(i);
            }
        }

        
    </script>
    
    <!-- <script>
        const tableContent = document.getElementById("table-content")
        const tableButtons = document.querySelectorAll(".data-table th button");
        productData = []

        // const productIpTable = document.getElementById("product-ip-table-content")
        // const productIpTableButtons = document.querySelectorAll("#product-ip-table th button");
        // productIPData = []

        // const createCreateLinkColumn = (createLinkColumn, obj) => {


        //     const copyButton = document.createElement("button");
        //     copyButton.innerHTML = '<i class="fa-solid fa-link"></i>';
        //     copyButton.addEventListener("click", () => {
        //         const tempInput = document.createElement("input");
        //         tempInput.value = newUrl;
        //         document.body.appendChild(tempInput);
        //         tempInput.select();
        //         document.execCommand("copy");
        //         document.body.removeChild(tempInput);
        //         // Optionally, you can provide product feedback here
        //     });

        //     createLinkColumn.innerHTML = ''; // Clear previous content
        //     // createLinkColumn.appendChild(linkInput);
        //     createLinkColumn.appendChild(copyButton);
        // };
        
        // const createIPListColumn = (ipListColumn, ipList) => {
        //     const showIPButton = document.createElement("button");
        //     showIPButton.innerHTML = '<i class="fa-solid fa-eye"></i>';
            
        //     showIPButton.addEventListener("click", () => {
        //         openProductIpForm();
        //         // Handle the display of IP list here
        //         // You can show a popup or some other UI element to display the list of IPs
        //         // Use the ipList parameter to access the list of IPs for the current product
        //         // For example:
        //         const ipListPopup = document.createElement("div");
        //         ipListPopup.textContent = ipList.join(", "); // Assuming ipList is an array of IP addresses
        //         // Show the popup or update your UI accordingly
        //     });

        //     ipListColumn.innerHTML = ''; // Clear previous content
        //     ipListColumn.appendChild(showIPButton);
        // };
        


        const createRow = (obj) => {
            
            const row = document.createElement("tr");
            const objKeys = Object.keys(obj);
            const columnOrder = ["id", "category", "product", "price", "shop_price", "quantity", "link", "shop", "purchase_date", "receipt_date", "description"];
            // const columnOrder = ["id"]
            columnOrder.forEach((key) => {
                const cell = document.createElement("td");
                const product_id = obj["id"]
                console.log(product_id)
                cell.setAttribute("data-attr", key);
                cell.setAttribute("class", key);
                // cell.innerHTML = obj[key] === null ? "None" : obj[key]; // Handle null values
                cell.innerHTML = obj[key] === null ? "None" : obj[key];
                row.appendChild(cell);
            });
            // const ipListCell = document.createElement("td");
            // createIPListColumn(ipListCell, obj["ip_list"]); // Pass the cell and IP list data to the function
            // row.appendChild(ipListCell);
            
            return row;
        };

        const getTableContent = (data) => {
                data.forEach((obj) => {
                    const row = createRow(obj);
                    tableContent.appendChild(row);
                });
        };

        const sortData = (data, param, direction = "asc") => {
            tableContent.innerHTML = '';
            const sortedData = direction == "asc"
                ? [...data].sort(function (a, b) {
                    if (a[param] < b[param]) {
                        return -1;
                    }
                    if (a[param] > b[param]) {
                        return 1;
                    }
                    return 0;
                    })
                : [...data].sort(function (a, b) {
                    if (b[param] < a[param]) {
                        return -1;
                    }
                    if (b[param] > a[param]) {
                        return 1;
                    }
                    return 0;
                });

            getTableContent(sortedData);
        };

        const resetButtons = (event) => {
            [...tableButtons].map((button) => {
                if (button !== event.target) {
                button.removeAttribute("data-dir");
                }
            });
        };

        

        // const getProductIpTable = (data) => {
        //         data.forEach((obj) => {
        //             const row = createRow(obj);
        //             productIpTable.appendChild(row);
        //         });
        // };

        // const sortProductIpData = (data, param, direction = "asc") => {
        //     productIpTable.innerHTML = '';
        //     const sortedData = direction == "asc"
        //         ? [...data].sort(function (a, b) {
        //             if (a[param] < b[param]) {
        //                 return -1;
        //             }
        //             if (a[param] > b[param]) {
        //                 return 1;
        //             }
        //             return 0;
        //             })
        //         : [...data].sort(function (a, b) {
        //             if (b[param] < a[param]) {
        //                 return -1;
        //             }
        //             if (b[param] > a[param]) {
        //                 return 1;
        //             }
        //             return 0;
        //         });

        //     getProductIpTable(sortedData);
        // };

        // const resetProductIpTableButtons = (event) => {
        //     [...productIpTableButtons].map((button) => {
        //         if (button !== event.target) {
        //         button.removeAttribute("data-dir");
        //         }
        //     });
        // };

        // window.addEventListener("load", () => {

        //     getProductIpTable(productIpData);
            
        //     [...productIpTableButtons].forEach((button) => {
        //         button.addEventListener("click", (e) => {
        //             resetProductIpTableButtons(e);
        //             if (e.target.getAttribute("data-dir") === "desc") {
        //                 sortProductIpData(productIpData, e.target.id, "desc");
        //                 e.target.setAttribute("data-dir", "asc");
        //             } else {
        //                 sortProductIpData(productIpData, e.target.id, "asc");
        //                 e.target.setAttribute("data-dir", "desc");
        //             }
        //         });
        //     });
        // });

        // tableContent.addEventListener("change", async (e) => {
            // if (e.target.tagName === "INPUT" && e.target.type === "checkbox") {
            //     const rowIndex = e.target.closest("tr").rowIndex - 1;
            //     const product = productData[rowIndex];
            //     console.log(productData)

            //     const newStatus = e.target.checked ? "Active" : "Deactive";
            //     const newStatusId = e.target.checked ? 1 : 0;

            //     if (product.product_status !== newStatus) {
            //         product.product_status = newStatus;
            //         try {
            //             const response = await fetch(`/update_product_status/${product.product_id}/${newStatusId}`, {
            //                 method: "POST" // Hoặc "PUT" tùy thuộc vào cấu hình của bạn
            //             });

            //             if (!response.ok) {
            //                 // Xử lý lỗi nếu cần
            //                 console.error("Error updating product status.");
            //             }
            //         } catch (error) {
            //             console.error("Error updating product status:", error);
            //         }
            //     }
            // }
        // }); 
    </script> -->

    <style>
        :root {
            --white: black;
            --black: #f9f6f6;
            --gray: black;
        }

        .alert{
            position: fixed;
            align-items: center;
            right: -2%;
            top: 10%;
            padding: 10px;
            color: #fff;
            margin-bottom: 10px;
            z-index: 999;
            grid-template-columns: 70px 1fr 70px;
            border-radius: 5px;
            animation: show 0.3s ease 1 forwards  
        }

        .login{
            top: 0.5%;
        }

        .alert i{
            color: var(--color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
        }

        .alert .title{
            font-size: medium;
            font-weight: bold;
        }

        .alert p, .alert i:nth-child(3){
            color: #fff;
            opacity: 0.6;
            margin: 0;
        }

        .close-alert{
            position:absolute;
            width:30px;
            height:30px;
            opacity:0.5;
            right:10px;
            text-align:center;
            font-size:1.6em;
            cursor:pointer;
        }

        @keyframes show{
            0%{
                transform: translateX(100%);
            }
            40%{
                transform: translateX(-5%);
            }
            80%{
                transform: translateX(0%);
            }
            100%{
                transform: translateX(-10%);
            }
        }

        .alert::before{
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: var(--color);
            width: 100%;
            height: 3px;
            content: '';
            box-shadow: 0 0 10px var(--color);
            animation: timeOut 5s linear 1 forwards
        }

        @keyframes timeOut{
            to{
                width: 0;
            }
        }

        .success-alert{
            --color: #0abf30;
            background-image: 
                linear-gradient(
                    to right, #0abf3055, #22242f 30%
                ); 
        }

        .error-alert{
            --color: #f24d4c;
            background-image: 
                linear-gradient(
                    to right, #f24d4c55, #22242F 30%
                );
        }
        .warning-alert{
            --color: #e9bd0c;
        }

        .info-alert i{
            --color: #3498db;
            background-image: 
                linear-gradient(
                    to right, #3498db55, #22242F 30%
                );
        }
        
        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            margin: 0;
            background-color: #ccc;
            border-radius: 20px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: gray;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 20px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

        input[type="checkbox"]:disabled + .slider {
            background-color: #ccc; /* Màu nền khi bị disable */
            cursor: not-allowed; /* Con trỏ chuột khi hover */
        }

        input:checked + .slider {
            background-color: #4CAF50;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }

        button.edit-product{
            background: white;
            border-radius: revert;
        }

        .cell-content {
            display: flex;
            align-items: center;
        }

        .cell-content span {
            flex: 1;
            margin-right: 10px; /* Adjust as needed */
        }

        .cell-content button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        #content-wrapper #wrapper {
            overflow-x: auto;
        }

        body {
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f1f1f1;
            font-family: 'Times New Roman', Times, serif;
        }

        .add-product-form, .product-ip-form {
            display: none;
            position: fixed;
            top: 50%;
            left: 56%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            z-index: 1000;
            width: 400px;
        }

        .add-product-form input, select {
            margin-bottom: 1.5%;
        }

        .form-container {
            position: relative;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        /* .add-product-form.open {
            display: block;
        } */

        /* .btn {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
        } */

        .cancel {
            background-color: grey;
        }

        .product-card{
            display: flex;
            /* width: 50%; */
            
            color: #ffffff94;
            margin-bottom: 1%;
            background-color: black;
            align-items: center;
            border-radius: .35rem;
        }

        .product-info{
            padding: 2% 0.5%;
            width: 132%;
        }

        /* .product-info h2 a{
            color: #ffffffe3;    
        } */

        .product-info h2 {
            font-size: .75rem;
            line-height: 1;
            margin-bottom: 1%;
        }
        .product-info p{
            font-size: .6rem;
            margin-bottom: 0;
        }
        .product-info hr{
            margin: 0;
        }

        .menu-button i, .edit-button i {
            color: white;   
        }
        
    </style>


    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</body>

</html>