<div class="col-sm-12 table-container">
    <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> -->
    <table class="data-table" style="scrollbar-width: auto;">
        <thead>
            <tr role="row">
                <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="min-width: 100px;" aria-sort="ascending" aria-label="Productname: activate to sort column descending">
                    <button id="product_id">Productname</button>
                </th> -->
                <th>
                    <button id="id">ID</button>
                </th>
                <th>
                    <button id="category">Danh Mục</button>
                </th>
                <th>
                    <button id="product">Sản Phẩm</button>
                </th>
                <th>
                    <button id="price">Giá Mua</button>
                </th>
                <th>
                    <button id="shop_price">Giá Shop</button>
                </th>
                <th>
                    <button id="quantity">Số Lượng</button>
                </th>
                <th>
                    <button id="link">Link</button>
                </th>
                <th>
                    <button id="shop">Shop</button>
                </th>
                <th>
                    <button id="purchase_date">Ngày Mua</button>
                </th>
                <th>
                    <button id="receipt_date">Ngày Nhận</button>
                </th>
                <th>
                    <button id="description">Ghi Chú</button>
                </th>
                <!-- <th class="sorting" tabindex="0" data-column="product_id" data-order="asc">Productname</th>
                <th class="sorting" tabindex="0" data-column="password" data-order="asc">Password</th>
                <th class="sorting" tabindex="0" data-column="name" data-order="asc">Name</th>
                <th class="sorting" tabindex="0" data-column="product_role" data-order="asc">Product Role</th>
                <th class="sorting" tabindex="0" data-column="product_status" data-order="asc">Product Status</th>
                <th class="sorting" tabindex="0" data-column="description" data-order="asc">Description</th> -->

            </tr>
        </thead>
        <tbody id="table-content">
        </tbody>
        <!-- <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Productname</th>
                <th rowspan="1" colspan="1">Password</th>
                <th rowspan="1" colspan="1">Name</th>
                <th rowspan="1" colspan="1">Product Role</th>
                <th rowspan="1" colspan="1">Product Status</th>
                <th rowspan="1" colspan="1">Description</th>
            </tr>
        </tfoot> -->
        <!-- {% for product in products %} -->
        
        <!-- {% endfor %} -->
    </table>
    
</div>    